@model PagedList.IPagedList<TheFlavour.Models.Article>
@{
    ViewBag.Title = "Blog";
}

<div id="page" class="hfeed site">
    @Html.Partial("_CommonNav")
    @if (ViewBag.SearchString == null)
    {
        <section class="main-top">
            <div class="image-section" style="background:url(../../images/Blog/logo.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3 class="title-before">Welcome to</h3>
                            <h1 class="title">The Kitchen Chatter</h1>
                            <div class="text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    <div id="main" class="site-main blog" role="main">
        @if (ViewBag.SearchString == null)
        {
            <section class="sec-blog-categories">
                <div class="wrapp-categories">
                    <div class="categories-slider blog">
                        <div class="caroufredsel_wrapper">
                            <ul id="categories-slider" class="blog-categories">
                                @for (int i = ViewBag.Group.Count; i-- > 0;)
                                {
                                    if (ViewBag.Group[i].ID == ViewBag.GroupID)
                                    {
                                        <li class="categories-item active">
                                            <a href="/Blog/@ViewBag.Group[i].ID">
                                                <div class="check-category">
                                                    <span></span>
                                                </div>
                                                @ViewBag.Group[i].Name
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="categories-item">
                                            <a href="/Blog/@ViewBag.Group[i].ID">
                                                <div class="check-category">
                                                    <span></span>
                                                </div>
                                                @ViewBag.Group[i].Name
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <a class="prev" id="categories-prev" href="#"><i class="tficon-shevron-left"></i></a>
                        <a class="next" id="categories-next" href="#"><i class="tficon-shevron-right"></i></a>
                    </div>
                </div>
            </section>
        }
        <div class="container sidebar-right">
            <div class="row">
                <div class="col-xs-12 content-area col-sm-8" id="primary">
                @if (Model.PageCount != 0)
                {
                    foreach (var item in Model)
                    {
                        <article class="post post-style-@item.ID">
                            <div class="inner">
                                @if (item.ImageLink != null)
                                {
                                    <a href="@("/Article/" + item.ID)" class="post-thumbnail">
                                        <img src="@("http://" + Request.Url.Authority + item.ImageLink)" class="attachment-post-thumb1 wp-post-image" alt="@item.ID" />
                                    </a>
                                }
                                <div class="entry-aside">
                                    <header class="entry-header">
                                        <div class="entry-meta">
                                            <time class="entry-date">@item.EntryDate.ToString("MMMM dd, yyyy")</time>
                                            <span class="author">
                                                by @Html.ActionLink(item.Author.Name, "Blog", "Home", new { auth = item.Author_ID }, null)
                                            </span>
                                            <span class="cat-links">
                                                in @Html.ActionLink(item.Group.Name, "Blog", "Home", new { id = item.Group.ID }, new { @title = "View all posts in Our Recipes", @rel = "category tag" })
                                            </span>
                                            <h1 class="entry-title">
                                                @Html.ActionLink(item.Title, "Article", "Home", new { id = item.ID }, null)
                                            </h1>
                                        </div>
                                    </header>
                                    <div class="entry-content">
                                        <p>
                                            @item.Content
                                        </p>
                                    </div>
                                    <footer class="entry-meta">
                                        <a href="@Url.Action("Article", "Home", new { id = item.ID })" class="btn btn-black-transparent btn-xs"><span>find out more</span></a>
                                    </footer>
                                </div>
                            </div>
                        </article>
                    }
                }
                else
                {
                    <article class="post post-style-8">
                        <div class="inner" style="text-align: center">
                             <a href="" class="post-thumbnail">
                                    <img src="../../images/Blog/noResults.png" class="attachment-post-thumb1 wp-post-image" />
                             </a>
                        </div>
                     </article>
                }

                @if (!ViewBag.HidePagination)
                {
                    <!-- pagination -->
                    <nav class="navigation paging-navigation" role="navigation">
                        <div class="pagination loop-pagination">
                            <a class="page_prev" href="@ViewBag.Previous"><i class="tficon-shevron-left"></i></a>
                            <div class="page-number">
                                <span>@Model.PageNumber</span> of <span>@Model.PageCount</span>
                            </div>
                            <a href="@ViewBag.Next" class="page_next"><i class="tficon-shevron-right"></i></a>
                        </div>
                    </nav>
                    <!-- /pagination -->
                }

                </div><!-- /#primary-->

                @Html.Partial("_BlogRightSide")

            </div><!-- /.row-->
        </div><!-- /.container-->
    </div><!-- /#main-->

    <section class="testimonials testimonials815 ">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="testimonials-title-before">TESTIMONIALS FROM OUR</h3>
                    <h1 class="testimonials-title">Customers &#038; Friends</h1>
                    <div class="testimonials-slider">
                        <span class="tficon-apostroufe"></span>
                        <ul id="testimonials815">
                            <li data-testimonial="1">
                                <div class="testimonials-text">
                                    <p>&#8220;It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.&#8221;</p>
                                </div>
                                <div class="testimonials-author"><span>Will Smith</span></div>
                                <div class="testimonials-organization"><span>review from</span> <a href="http://themefuse.com/">Themefuse</a></div>
                            </li>
                            <li data-testimonial="1">
                                <div class="testimonials-text">
                                    <p>&#8220;Themefuse themes are like designer clothes for yor website. I&#8217;d get a whole closet full of lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullarem in dui mauris. Vivamus kissterio hendrerit arcusimos yupinos them.&#8221;</p>
                                </div>
                                <div class="testimonials-author"><span>Michael Freemon</span></div>
                                <div class="testimonials-organization"><span>review from</span> <a href="#">Trip Advisor</a></div>
                            </li>
                        </ul>
                        <div id="testimonials-controls815" class="testimonials-controls"></div>
                    </div>
                </div>
                <p>
                    <a id="testimonials-prev815" class="prev" href="#"><i class="tficon-shevron-left"></i></a><br />
                    <a id="testimonials-next815" class="next" href="#"><i class="tficon-shevron-right"></i></a>
                </p>
            </div>
        </div>
    </section>
    <p>
        <script>
            jQuery(document).ready(function () {
                function testimonialsInit() {
                    jQuery("#testimonials815").carouFredSel({
                        swipe: {
                            onTouch: true
                        },
                        next: "#testimonials-next815",
                        prev: "#testimonials-prev815",
                        pagination: "#testimonials-controls815",
                        infinite: false,
                        items: 1,
                        auto: {
                            play: true,
                            timeoutDuration: 10000
                        },
                        scroll: {
                            items: 1,
                            fx: "crossfade",
                            easing: "linear",
                            pauseOnHover: true,
                            duration: 300
                        }
                    });
                }
                testimonialsInit();
                jQuery(window).resize(function () {
                    testimonialsInit();
                });
                var tControlsHeight = jQuery(".testimonials-controls").innerHeight();
                jQuery(".testimonials-controls").css("margin-top", -tControlsHeight / 2);
            });
        </script>
    </p>
    @Html.Partial("_BottomPart", new TheFlavour.ViewModels.Footer { ShowMap = false })
    <a class="anchor hidden" id="to-top" href="#page"><span class="tficon-row-up"></span></a>
</div><!-- /#page-->
@Html.Partial("_GoogleAnalytics")