<div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12 sidebar widget-area" id="secondary">
    <div class="inner">
        <div class="widget widget-search">
            <h3 class="widget-title">SEARCH BLOG</h3>

            @using (Html.BeginForm("Blog", "Home", FormMethod.Get, new { @id = "searchform" }))
            {
                @Html.TextBox("SearchString", ViewBag.SearchString as string, new { @class = "inputtext", @placeholder = "ENTER KEYWORD" })
                <button type="submit" class="btn btn-search"><span class="tficon-row"></span></button>
            }

        </div><div class="widget widget-freshpost">
            <h3 class="widget-title">FRESH POSTS</h3>

            <ul class="side-postlist">
                @foreach (var item in ViewBag.FreshArticles)
                {
                    <li><a href="@("/Article/" + item.ID)"><span>@item.Title</span></a></li>
                }
            </ul>
            <a href="#" class="btn btn-orange btn-freshpost"><span>subscribe to rss feed</span></a>

        </div><div class="widget widget-most-comment">
            <h3 class="widget-title">MOST COMMENTED</h3>
            <ul class="side-postlist">
                @foreach (var item in ViewBag.MostCommented)
                {
                    <li>
                        <a href="@("/Article/" + item.ID)"><div class="icon"><strong>@item.Count</strong></div><span>@item.Title</span></a>
                    </li>
                }
            </ul>
        </div>
    <div class="widget widget-tagcloud">
            <h3 class="widget-title">Tag Cloud</h3><div class="tagcloud">
                <a href='/Menu/2' class='tag-link-8' title='7 topics' style='font-size: 8pt;'>desert</a>
            </div>
        </div><div class="widget widget-instagram">
            <h3 class="widget-title">INSTAGRAM</h3>
            <div class="instagram">
                <ul>
                    <li>
                        <a href="http://instagram.com/p/BAkb8uey1R4">
                            <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/12407399_168604616837410_1397289231_n.jpg?ig_cache_key=MTE2MzE3NzUyNDEwMTYwMDM3Ng%3D%3D.2">
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/p/BAeqLQBy1eh">
                            <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/10903783_571879206293222_999229079_n.jpg?ig_cache_key=MTE2MTU1MTI0NDk4NTg0OTc2MQ%3D%3D.2">
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/p/BAVKbqES1Tj">
                            <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/12479250_1683865331897590_1883964132_n.jpg?ig_cache_key=MTE1ODg3ODM2MDE3Nzk1NjA2Nw%3D%3D.2">
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/p/BATC-t1y1Wr">
                            <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/12383338_768782093227602_925944575_n.jpg?ig_cache_key=MTE1ODI4MjYzNTA4NTgyOTU0Nw%3D%3D.2">
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/p/BARb6GQS1aZ">
                            <img src="https://scontent.cdninstagram.com/t51.2885-15/s480x480/e35/12479344_996866977041610_567243173_n.jpg?ig_cache_key=MTE1NzgyOTMxODkxMjIwMjM5Mw%3D%3D.2">
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/p/_rPUshS1aV">
                            <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/12354054_1668687290066352_362380836_n.jpg?ig_cache_key=MTE0NzA3NzkyMjk4NjM1MDIyOQ%3D%3D.2">
                        </a>
                    </li>
                </ul>
                <a href="http://instagram.com/angler_restaurant" class="btn btn-black btn-instagram"><span>follow on instagram</span></a>
            </div>
        </div><div id="text-text-2" class="widget widget-text ">
            <h3 class="widget-title">About</h3>       
             <div class="aboutw">
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim hasell moytrirolestie magna non lorem ipsum dolor site amet retituros est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                <div class="social-links">
                    <span class="social-icons">
                        <a href="https://www.facebook.com/themefuse" title="Facebook" target="_blank">
                            <i class="tficon-facebook"></i>
                        </a>
                        <a href="https://twitter.com/themefuse" title="Twitter" target="_blank">
                            <i class="tficon-twitter"></i>
                        </a>
                        <a href="http://www.pinterest.com/search/pins/?q=themefuse" title="Pinterest" target="_blank">
                            <i class="tficon-pinterest"></i>
                        </a>
                        <a href="http://www.tripadvisor.com/" title="Trip Advisor" target="_blank">
                            <i class="tficon-trip-advisor"></i>
                        </a>
                        <a href="http://instagram.com/" title="Instagram" target="_blank">
                            <i class="tficon-instagram"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div><!--/ .inner -->
</div><!--/ #secondary -->