<header>
    <div class="nav-main " id="nav-main">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <nav id="site-navigation" class="site-navigation left">
                        <ul id="menu-primary" class="nav-menu clearfix">
                            <li id="menu-item-851" class="menu-item menu-item-type-taxonomy menu-item-object-list-menus menu-item-has-children menu-item-851">
                                @Html.ActionLink("Menu", "Menu", "Home", new { Id = 1 }, null)
                                <ul/ class="submenu-1" id="submenu-1" />
                            <li id="menu-item-837" class="menu-item menu-item-type-taxonomy menu-item-object-list-menus menu-item-837">
                                @Html.ActionLink("Food menu", "Menu", "Home", new { Id = 1 }, null)
                            </li>
                            <li id="menu-item-835" class="menu-item menu-item-type-taxonomy menu-item-object-list-menus menu-item-835">
                                @Html.ActionLink("Deserts menu", "Menu", "Home", new { Id = 2 }, null)
                            </li>
                            <li id="menu-item-836" class="menu-item menu-item-type-taxonomy menu-item-object-list-menus menu-item-836">
                                @Html.ActionLink("Drinks menu", "Menu", "Home", new { Id = 3 }, null)
                            </li>
                        </ul>
                        </li>
                        <li id="menu-item-898" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children mega-nav menu-item-898"><a href="/About">About Us</a></li>
                        <li id="menu-item-902" class="menu-item menu-item-type-post_type menu-item-object-page mega-nav menu-item-902"><a href="/Gallery">Gallery</a></li>
                        <li id="menu-item-834" class="menu-item menu-item-type-taxonomy menu-item-object-events menu-item-834"><a href="/Events">Events</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="site-logo" id="site-logo">
                        <a href="/Index">
                            <i><span>The</span></i><span>flavour</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <nav id="site-navigation2" class="site-navigation right">
                        <ul id="menu-secondary" class="nav-menu clearfix">
                            <li id="menu-item-896" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-896">
                                <a href="http://demo.themefuse.com/theflavour/?page_id=462">
                                </a>
                            </li>
                            <li id="menu-item-896" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-896"><a href="http://demo.themefuse.com/theflavour/?page_id=462">Reservation</a></li>
                            <li id="menu-item-831" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-831"><a href="/Blog/6">Blog</a></li>
                            
                            <li id="menu-item-897" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-897">
                                @Html.ActionLink("Contact", "Contact", "Home")
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>